<h1 mat-dialog-title>{{data.title}}</h1>
<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
      <mat-error *ngIf="title.errors?.required">Title required</mat-error>
      <mat-error *ngIf="title.errors?.minlength">Must be greater than 10 characters</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Body</mat-label>
      <textarea matInput rows="5" formControlName="body"></textarea>
      <mat-error *ngIf="body.errors?.required">You must put content</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="button-area">
    <button mat-button type="button" (click)="cancel()">Cancel</button>
    <button mat-button type="submit" [disabled]="postForm.invalid">Save</button>
  </div>
</form>
